  <div class="haik-container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".haik-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse haik-navbar-collapse" role="navigation">
      <a class="navbar-brand pull-right" data-admin-menu href="" ng-click="adminSidr(true)">:k</a>
      <div class="nav navbar-nav pull-right">
        <button type="button" class="navbar-btn haik-btn haik-btn-sm haik-btn-default" ng-click="edit();">編集</button>
      </div>
    </div>

  </div>
