{% extends "page.layout_editor.html" %}

{% set title = page.name ~ "の編集" %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block navbar %}

<div class="nav navbar-nav navbar-right">
  <a href="{{ route('show_page', page.name) }}" class="navbar-btn haik-btn haik-btn-sm haik-btn-link haik-text-muted">キャンセル</a>
  <a href="#" class="navbar-btn haik-btn-sm  haik-btn haik-btn-link haik-text-primary">プレビュー</a>
  <button type="button" class="navbar-btn haik-btn haik-btn-sm haik-btn-success" data-edit-type="write">更新</button>
</div>

{% endblock%}

{% block content %}

  <div class="haik-container">
    <a href=".haik-page-meta" class="haik-page-meta-toggle" data-toggle="collapse"><i class="fa fa-cog fa-lg"></i></a>

    {{ form_model(page, {'route': ['plugin.edit.post'], 'id': 'editForm'} ) }} 
      <div class="haik-page-meta collapse">
        {{ form_textarea('page_meta_yaml', page_meta_yaml, {placeholder:'ここにページ情報', 'data-exnote':'onready'}) }}
      </div>

      <div class="haik-editor">
          {{ form_textarea('body', body, {placeholder:'ここに本文', 'data-exnote':'onready'}) }}
          {{ form_hidden('name') }}
          {{ form_hidden('body_version') }}
      </div>
    {{ form_close() }}

  </div>

{% endblock %}

{% block script %}
  {{ parent() }}
  <script>
    $(function(){
      $("[data-edit-type=write]").on('click', function(){
        $("#editForm").submit();
      });
    });
  </script>
{% endblock %}


