<div class="haik-plugin-buttons affix" data-spy="affix" data-offset-top="60">
  <div class="haik-plugin-button-group">
    <a href="" class="haik-btn haik-btn-xs haik-btn-default" data-textarea="#haik_msg" data-name="header"></a>
    <a href="" class="haik-btn haik-btn-xs haik-btn-default" data-textarea="#haik_msg" data-name="strong"></a>
    <a href="" class="haik-btn haik-btn-xs haik-btn-default" data-textarea="#haik_msg" data-name="ul"></a>
    <a href="" class="haik-btn haik-btn-xs haik-btn-default" data-textarea="#haik_msg" data-name="indent"></a>
    <a href="" class="haik-btn haik-btn-xs haik-btn-default" data-textarea="#haik_msg" data-name="br"></a>
  </div>

  <div class="haik-plugin-button-group">
    <a href="" class="haik-btn haik-btn-xs haik-btn-default" data-textarea="#haik_msg" data-name="show"></a>
    <a href="" class="haik-btn haik-btn-xs haik-btn-default" data-textarea="#haik_msg" data-name="link"></a>
    <a href="" class="haik-btn haik-btn-xs haik-btn-default" data-textarea="#haik_msg" data-name="button"></a>
  </div>

  <div class="haik-plugin-button-group">
    <a href="" class="haik-btn haik-btn-xs haik-btn-default" data-textarea="#haik_msg" data-name="hr"></a>
    <a href="" class="haik-btn haik-btn-xs haik-btn-default" data-textarea="#haik_msg" data-name="section"></a>
  </div>

  <div class="haik-plugin-button-group">
    <a href="" class="haik-btn haik-btn-xs haik-btn-default" data-textarea="#haik_msg" data-name="recentPlugins"></a>
    <a href="" class="haik-btn haik-btn-xs haik-btn-default" data-textarea="#haik_msg" data-name="allPlugin"></a>
  </div>

</div>

<!--
		'header',
		'strong',
		'ul',
		'indent',
		'br',
		'',
		'show',
		'link2',
		'button',
		'',
		'hr2',
		'section',
		'',
		'recentPlugins',
		'allPlugin',

-->